---
const { routes } = Astro.props;
---

<ul class="breadcrumb">
  <li>
    <a href={routes.path}>
      {routes.label}
    </a>
  </li>
</ul>

<style>
  .breadcrumb {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }

  .breadcrumb li {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-text-ink-300);
  }

  a:hover {
    color: var(--color-text-ink-400);
  }

  @media (min-width: 1536px) {
    a {
      font-size: larger;
    }
  }
</style>
