---
import { db, Cart as CartTable, eq } from 'astro:db'

let count = 0

if (Astro.cookies.has('cart')) {
  const sessionId = Astro.cookies.get('cart')?.value ?? ''
  const record = await db.select().from(CartTable).where(
      eq(CartTable.sessionId, sessionId)
    )
  if (record.length > 0) {
    count = Object.values(record[0].items as Cart).reduce((prev, curr) => prev + curr, 0)
  }

  console.log(record)
}
---
<div class="cart">
  {count > 0 && <div id="cart-count">{count}</div>}
  <sl-icon-button name="bag" href="/checkout"></sl-icon-button>
</div>

<style>
  .cart {
    display: flex;
    align-items: center;
    gap: 0.15rem;
  }

  #cart-count {
    font-size: 0.8rem;
  }
</style>