<script>
  import { $cart } from "../../stores/cart";
  import { sumValues } from '../../utils/tools'

  class TotalCartItems extends HTMLElement {
    constructor() {
      super();

      $cart.subscribe((cart) => {
        const count = sumValues(cart)
        this.textContent = count === 0 ? '' : count.toString()
      })
    }
  }

  customElements.define("total-cart-items", TotalCartItems);
</script>

<div class="cart">
  <total-cart-items></total-cart-items>
  <sl-icon-button name="bag" href="/checkout"></sl-icon-button>
</div>

<style>
  .cart {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    width: 5rem;
    justify-content: flex-end;
  }

  total-cart-items {
    font-size: 0.8rem;
  }
</style>
