<script>
  import { $totalCartItems } from "../../stores/totalCartItems";

  class TotalCartItems extends HTMLElement {
    constructor() {
      super();
      
      $totalCartItems.subscribe((totalItems) => {
        this.textContent = totalItems > 0 ? totalItems.toString() : "";
      });
    }
  }

  customElements.define('total-cart-items', TotalCartItems)
</script>

<div class="cart">
  <total-cart-items></total-cart-items>
  <sl-icon-button name="bag" href="/checkout"></sl-icon-button>
</div>

<style>
  .cart {
    display: flex;
    align-items: center;
    gap: 0.15rem;
  }

  total-cart-items {
    font-size: 0.8rem;
  }
</style>
