<script>
  import { $cartBadgeCount } from "../../stores/cartBadgeCount";

  $cartBadgeCount.subscribe((count) => {
    const countElement = document.getElementById("cart-count");
    if (countElement)
      countElement.textContent = count > 0 ? count.toString() : "";
  });
</script>

<div class="cart">
  <div id="cart-count"></div>
  <sl-icon-button name="bag" href="/checkout"></sl-icon-button>
</div>

<style>
  .cart {
    display: flex;
    align-items: center;
    gap: 0.15rem;
  }

  #cart-count {
    font-size: 0.8rem;
  }
</style>
