---
import { sumValues } from "../../utils/tools";

let itemCount = 0;
let sessionId = "";
let cart = {}

if (Astro.cookies.has("cart")) {
  sessionId = Astro.cookies.get("cart")?.value ?? "";

  if (sessionId) {
    try {
      const url = new URL(`/api/cart?session-id=${sessionId}`, Astro.url);
      const response = await fetch(url);
      cart = JSON.parse(await response.json()) as Cart;
    } catch (error) {
      console.error(error);
    }
  }
}

console.log(cart)

itemCount = sumValues(cart)
---

<script>
  import {$cart} from '../../stores/cart'
  import { sumValues } from '../../utils/tools';

  let loaded = false

  class TotalCartItems extends HTMLElement {
    constructor() {
      super();
      const itemCount = this.dataset.count ?? '0';
      this.textContent = itemCount

      $cart.subscribe((cart) => {
        if (loaded) {
          this.textContent = sumValues(cart).toString()
        } else {
          loaded = true
        }
      })
    }
  }

  customElements.define("total-cart-items", TotalCartItems);
</script>

<div class="cart">
  <total-cart-items data-count={itemCount}></total-cart-items>
  <sl-icon-button name="bag" href="/checkout"></sl-icon-button>
</div>

<style>
  .cart {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    width: 5rem;
    justify-content: flex-end;
  }

  total-cart-items {
    font-size: 0.8rem;
  }
</style>
