---
---
<div class="footer">
  <span>Check out the <a href="https://github.com/luke-hays/">github</a>!</span>
</div>

<style>
  .footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--color-text-ink-400);
  }

  a {
    text-decoration: none;
    color: var(--color-text-ink-400);
  }

  a:hover {
    text-decoration: underline;
    color: var(--color-primary-400);
  }
</style>
