---
import Nav from "./Nav.astro";
import Cart from "./Cart.astro";
---

<script>
  const container = document.getElementById("header-content");

  await Promise.allSettled([
    customElements.whenDefined("sl-icon-button"),
    customElements.whenDefined("sl-icon"),
  ]);

  container?.classList.add("ready");
</script>

<div id="header-content">
  <Nav />

  <a id="logo" href="/">
    tree-Commerce
    <sl-icon name="tree"></sl-icon>
  </a>

  <div class="button-row">
    <Cart />
    <sl-icon-button name="person"></sl-icon-button>
  </div>
</div>

<style>
  .button-row {
    display: flex;
  }

  #header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  #logo {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-text-ink-400);
    text-shadow: 1px 1px 2px var(--color-text-ink-200);
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
  }

  #header-content {
    opacity: 0;
  }

  #header-content.ready {
    opacity: 1;
    transition: 0.4s opacity;
  }
</style>
