---
import Nav from "./Nav.astro"
---

<script>
  import "@shoelace-style/shoelace/dist/components/icon-button/icon-button.js";
  import "@shoelace-style/shoelace/dist/components/icon/icon.js";
</script>

<div id="header-content">
  <Nav />
  
  <a id="logo" href="/">
    tree-Commerce
    <sl-icon name="tree"></sl-icon>
  </a>

  <div class="button-row">
    <sl-icon-button name="bag"></sl-icon-button>
    <sl-icon-button name="person"></sl-icon-button>
  </div>
</div>

<style>
  sl-icon-button {
    transform: scale(1.2);
  }

  .button-row {
    display: flex;
    gap: 0.25rem;
  }

  #header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  #logo {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-text-ink-400);
    text-shadow: 1px 1px 2px var(--color-text-ink-200);
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
  }
</style>
