---
import { getCollection } from "astro:content";

const categories = await getCollection("categories");

const routes = categories.map((category) => ({
  path: `/categories/${category.id}`,
  name: category.data.name,
}));
---

<script>
  import type { SlDrawer } from "@shoelace-style/shoelace";

  const drawer = document.querySelector(".drawer-overview") as SlDrawer;

  if (drawer) {
    const openButton = document.getElementById("open-nav");
    const closeButton = drawer.querySelector('sl-button[variant="primary"]');

    openButton?.addEventListener("click", () => drawer.show());
    closeButton?.addEventListener("click", () => drawer.hide());
  }
</script>

<div>
  <sl-icon-button id="open-nav" name="list"></sl-icon-button>

  <sl-drawer label="Trees" class="drawer-overview" placement="start">
    <nav>
      {
        routes.map((route) => {
          return <a href={route.path}>{route.name}</a>;
        })
      }
    </nav>
  </sl-drawer>
</div>

<style>
  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--color-text-ink-400);
  }

  a:hover {
    color: var(--color-text-ink-500);
  }
</style>
