:root {
  --color-primary-300: #5def5d;
  --color-primary-350: #30e930;
  --color-primary-400: #2ac22a;

  --color-text-ink-200: #a5a5a5;
  --color-text-ink-300: #5f5f5f;
  --color-text-ink-400: #272727;
  --color-text-ink-500: #141414;
}