---
import ProductCard from "../product/ProductCard.astro";

const {products} = Astro.props;
---

<div id="cart-list">
  {
    products.map((product: unknown) => {
      return <ProductCard product={product} />;
    })
  }
</div>

<style>
  #cart-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

