---
import CustomImage from "../shared/CustomImage.astro";

const { product } = Astro.props;
---

<div class="product-image">
  <CustomImage src={product.image} alt={product.name} height={160} width={160} />
</div>

<style>
  .product-image {
    border-radius: 4px;
    height: 10rem;
    overflow: hidden;
  }
</style>
