---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import { formatNumberToCurrency } from "../scripts/currency";
import { getImages } from "../scripts/images";
import { getAllProductsInCart } from "../scripts/product";
import { turso } from "../turso";
import ProductCard from "../components/product/ProductCard.astro";

const productCollection = await getCollection("products");
const images = getImages();

let cart = {} as Cart;

if (Astro.cookies.has("cart")) {
  const sessionId = Astro.cookies.get("cart")?.value

  if (sessionId) {
    const recordResponse = await turso.execute({
      sql: 'SELECT * FROM cart WHERE session_id = ?;',
      args: [sessionId]
    })

    if (recordResponse.rows.length > 0) {
      cart = JSON.parse(recordResponse.rows[0].items as any) as Cart;
    }
  }
}

const products = getAllProductsInCart(productCollection, images, cart)
---

<BaseLayout>
  <div class="checkout-layout">
    <div class="checkout-container">
      <h1>Your cart</h1>
      {
        products.map((product) => {
          return (
            <ProductCard product={product} />
          );
        })
      }
    </div>
  </div>
</BaseLayout>

<style>
  h1 {
    margin: 1rem 0 0 0;
    color: var(--color-text-ink-500);
  }

  .checkout-layout {
    display: flex;
    justify-content: center;
  }

  .checkout-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 2rem;
    min-width: 20rem;
    width: 100%;
    max-width: 40rem;
  }
</style>
