---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="hero">
    <div class="hero-text">
      Slime.
      Trees.
      Power.
    </div>
  </div>
  <div class="section product-carousel">
    <div class="product-carousel__title">
      <h2>Cruise our ooze, <span>today</span>.</h2>
    </div>
  </div>
  <div class="section faq">
    <ul>
      <li>
        <h3>Okay, but seriously, what?</h3>
        <div>
          We belive in augmenting the current tree population of urban centers with humanely sourced vats of pond scum
        </div>
      </li>
      <li>
        <h3>Why?</h3>
        <div>
          Trees are all bark, no bite, and highly flammable. They are constantly chopped down or eaten by tiny bugs. You ever chop up a slime trail up and try to burn it? Exactly.
        </div>
      </li>
      <li>
        <h3>Where, again?</h3>
        <div>
          Cities, where people live. Its hard to keep the power generators for prime goop environmental favorability conditions going in the woods.
        </div>
      </li>
      <li>
        <h3>Who are you?</h3>
        <div>
          An asthmatic with an axe to grind.
        </div>
      </li>
      <li>
        <h3>Sounds dumb</h3>
        <div>
          Ad hominem. Arguement rebutted.
        </div>
      </li>
    </ul>
  </div>
</Layout>

<style>
  .hero {
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    background-image: linear-gradient(334deg, rgb(107 107 107 / 30%), rgb(0 0 0 / 19%)), url(/images/algae.webp);
    min-height: 20rem;
    height: 70vh;
    max-height: 70rem;
    position: relative;
  }

  .hero-text {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    position: absolute;
    left: 15%;
    top: 15%;
    white-space: pre-line;
  }

  .product-highlight {
    display: flex;
    justify-content: center;
  }

  .product-highlight h2 {
    margin: 1rem;
  }

  .product-highlight h2 span {
    text-decoration: underline;
  }

  .section.faq {
    background-image: linear-gradient(131deg, rgb(0, 0, 0), var(--color-primary-300));
    color: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
  }

  .section.faq ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .section.faq ul li {
    margin-bottom: 1rem;
  }

  .section.faq ul li:last-child {
    margin-bottom: 0;
  }

  .product-carousel__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    margin: 0 0 0.5rem 0;
  }
</style>