---
import Layout from "../layouts/Layout.astro";

/*
  Observation with shoelace on chrome
  Console logs show multiple duplicate ids on elements in DOM
  This shouldn't be reported since shadow dom encapsulates elements

  Seems to be reoccuring with shoelace according to discussion on their github
  https://github.com/shoelace-style/shoelace/discussions/1685
*/

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    console.log(data)
  } catch (error) {

  }
}
---

<script>
  import '@shoelace-style/shoelace/dist/components/input/input.js'
  import '@shoelace-style/shoelace/dist/components/button/button.js'
  import '@shoelace-style/shoelace/dist/components/checkbox/checkbox.js'

  const form = document.querySelector('form') as HTMLFormElement;

  if (form) {
    form.addEventListener('submit', (e) => {
      e.preventDefault();

      const formData = new FormData(form, e.submitter)

      console.log(formData)
    })
  }
</script>

<Layout title="Ecommerce">
  <div class="registration-form__container">
    <form class="registration-form" method="POST">
      <h2>Registration</h2>

      <sl-input
        class="registration-form__input" 
        label="Full Name"
        name="name"
        required
      >
      </sl-input>

      <sl-input 
        class="registration-form__input" 
        type="email" 
        label="Email"
        name="email"
        required
      >
      </sl-input>

      <sl-input 
        class="registration-form__input" 
        type="password" 
        label="Password" 
        name="password"
        minlength="8"
        password-toggle
        required
        id="password"
      >
      </sl-input>
      
      <div class="terms-condtions">
        <label for="terms-conditions">Terms & Conditions</label>
        <sl-checkbox name="terms-conditions" required>I am aware this is a fake site.</sl-checkbox>  
      </div>

      <sl-button type="submit">Register Now</sl-button>

      <div class="sign-in-redirect">
        Already have an account? <a href="/">Sign in now</a>
      </div>
    </form>
  </div>
</Layout>

<style>
  body {
    background-color: var(--color-primary-300);
  }

  .registration-form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .registration-form {
    min-width: 20rem;
    width: 50%;
    max-width: 36rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
  }

  sl-input::part(form-control-label) {
    color: var(--color-text-ink-300)
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    color: var(--color-text-ink-400)
  }

  .terms-condtions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .terms-condtions {
    color: var(--color-text-ink-300);
  }

  sl-checkbox:hover {
    color: var(--color-text-ink-400);
  }

  .sign-in-redirect {
    text-decoration: none;
    color: var(--color-text-ink-300);
  }

  .sign-in-redirect a {
    text-decoration: none;
    color: var(--color-text-ink-300);
  }

  .sign-in-redirect a:hover {
    text-decoration: underline;
    color: var(--color-text-ink-400);
  }
</style>