<section>
  <h2>Questions?</h2>
  <hr />
  <ul>
    <li>
      <h3>Okay, but seriously, what?</h3>
      <p>
        We believe in augmenting the current tree population of urban centers
        with humanely sourced vats of pond scum in delicate jars.
      </p>
    </li>
    <li>
      <h3>Why?</h3>
      <p>
        Trees are all bark, no bite, and highly flammable. They are constantly
        chopped down or eaten by tiny bugs. You ever chop up a slime trail up
        and try to burn it? Exactly.
      </p>
    </li>
    <li>
      <h3>Where, again?</h3>
      <p>
        Cities, where people live. Its hard to keep the power generators for
        prime goop environmental favorability conditions going in the woods.
      </p>
    </li>
    <li>
      <h3>Who are you?</h3>
      <p>An asthmatic with an axe to grind.</p>
    </li>
    <li>
      <h3>Sounds dumb</h3>
      <p>Ad hominem. Arguement rebutted.</p>
    </li>
  </ul>
</section>

<style>
  section {
    color: var(--color-text-ink-400);
    padding: 1rem 1.5rem;
  }

  h2 {
    margin: 0 0 1rem 0;
  }

  hr {
    color: var(--color-text-ink-400);
  }

  h3 {
    margin: 0 0 0.5rem 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li {
    margin-bottom: 1rem;
  }

  ul li:last-child {
    margin-bottom: 0;
  }
</style>
