---
---

<div class="hero">
  <div class="hero-text">
    Slime.
    Trees.
    Power.
  </div>
</div>

<style>
  .hero {
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    background-image: linear-gradient(334deg, rgb(107 107 107 / 30%), rgb(0 0 0 / 19%)), url(/images/algae.webp);
    min-height: 20rem;
    height: 70vh;
    max-height: 70rem;
    position: relative;
  }

.hero-text {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  position: absolute;
  left: 15%;
  top: 15%;
  white-space: pre-line;
}
</style>
