---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { getImages } from "../../scripts/images";

const products = await getCollection("products");
const images = getImages();

const highlightedProducts = products
  .filter((product) => product.data.highlight)
  .map((product) => {
    return {
      ...product.data,
      id: product.id,
      imageComponent: images[product.data.image] ?? (() => {}),
    };
  });
---

<script>
  import Splide from "@splidejs/splide";

  new Splide("#image-carousel", {
    type: "loop",
    padding: "5rem",
  }).mount();
</script>

<section>
  <h2 class="product-carousel__title">Cruise our ooze, <span>today</span>.</h2>
  <div id="image-carousel" class="splide" aria-label="Important Algae">
    <div class="splide__track">
      <ul class="splide__list">
        {
          highlightedProducts.map((product) => {
            return (
              <li class="splide__slide">
                <a href={`/products/${product.id}`}>
                  <Image alt={product.name} src={product.imageComponent()} />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-ink-400);
  }

  h2 {
    margin: 2rem 0 1rem 0;
  }

  .splide {
    margin: 1rem;
    max-width: 75rem;
    max-height: 50rem;
  }

  .splide__slide img {
    width: 100%;
    min-height: 20rem;
    height: 100%;
    max-height: 35rem;
    object-fit: contain;
  }
</style>
