---
---
<script>
  import Splide from '@splidejs/splide';
  
  new Splide( '#image-carousel', {
    type: 'loop',
    padding: '5rem',
  }).mount();
  </script>
  
<div class="section product-carousel">
  <div class="product-carousel__title">
    <h2>Cruise our ooze, <span>today</span>.</h2>
  </div>
  <section id="image-carousel" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="images/green-ooze.webp">
        </li>
        <li class="splide__slide">
          <img src="images/gross-ooze.webp">
        </li>
        <li class="splide__slide">
          <img src="images/real-pond.webp">
        </li>
      </ul>
    </div>
  </section>
</div>

<style>
 .section.product-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-carousel__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splide {
    margin: 1rem;
    max-width: 75rem;
    max-height: 50rem;
  }

  .splide__slide img {
    width: 100%;
    height: auto;
    max-height: 50rem;
    object-fit: contain;
  }

  .product-highlight {
    display: flex;
    justify-content: center;
  }

  .product-highlight h2 {
    margin: 1rem;
  }

  .product-highlight h2 span {
    text-decoration: underline;
  }
</style>