<script>
  import Splide from '@splidejs/splide';
  
  new Splide( '#image-carousel', {
    type: 'loop',
    padding: '5rem',
  }).mount();
</script>
  
<section>
  <h2 class="product-carousel__title">Cruise our ooze, <span>today</span>.</h2>
  <div id="image-carousel" class="splide" aria-label="Important Algae">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="images/green-ooze.webp">
        </li>
        <li class="splide__slide">
          <img src="images/gross-ooze.webp">
        </li>
        <li class="splide__slide">
          <img src="images/real-pond.webp">
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .splide {
    margin: 1rem;
    max-width: 75rem;
    max-height: 50rem;
  }

  .splide__slide img {
    width: 100%;
    height: auto;
    max-height: 50rem;
    object-fit: contain;
  }
</style>