---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CartDisplay from "../../components/checkout/CartDisplay.astro";
---

<script>
  import { $cleared } from "../../stores/cart";

  const cartDetails = document.getElementById("cart-details");
  const emptyButton = document.getElementById("empty-cart");
  const emptyCart = document.getElementById('empty-display');
  const checkoutLayout = document.getElementById('checkout-layout')

  if (emptyCart) {
    const count = parseInt(emptyCart.dataset.count ?? '0')
    if (count === 0) {
      emptyCart.removeAttribute('hidden')
    }
  }

  $cleared.subscribe((cleared) => {
    if (cleared) {
      cartDetails?.remove();
      emptyButton?.remove()
      emptyCart?.removeAttribute('hidden')
    }
  });

  await Promise.allSettled([
    customElements.whenDefined('sl-button'),
    customElements.whenDefined('sl-skeleton'),
  ])

  checkoutLayout?.classList.add('ready')
</script>

<BaseLayout>
  <div id="checkout-layout">
    <div class="checkout-container">
      <CartDisplay />
    </div>
  </div>
</BaseLayout>

<style>
  #checkout-layout {
    display: flex;
    justify-content: center;
    opacity: 0;
  }

  #checkout-layout.ready {
    opacity: 1;
    transition: 0.4s opacity;
  }

  .checkout-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 2rem;
    min-width: 20rem;
    width: 100%;
    max-width: 40rem;
  }
</style>