---
import { db, Cart as CartTable, eq } from 'astro:db'

import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";

let count = 0

if (Astro.cookies.has('cart')) {
  const sessionId = Astro.cookies.get('cart')?.value ?? ''
  const record = await db.select().from(CartTable).where(
      eq(CartTable.sessionId, sessionId)
    )
  if (record.length > 0) {
    count = Object.values(record[0].items as Cart).reduce((prev, curr) => prev + curr, 0)
  }
}
---

<script>
  import { $cartBadgeCount } from "../stores/cartBadgeCount";

  const header = document.getElementById('treecommerce-header')

  if (header) {
    const count = header.dataset.count ? Number.parseInt(header.dataset.count) : 0
    $cartBadgeCount.set(count)
  }
</script>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/themes/light.css" />
    <link
      rel="stylesheet"
      href="/node_modules/@splidejs/splide/dist/css/splide.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>tree-Commerce</title>
  </head>
  <body>
    <div id="layout-grid">
      <header id="treecommerce-header" data-count={count}>
        <Header />
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <Footer />
      </footer>
    </div>
  </body>
  <style>
    @import url(../styles/global.css);

    #layout-grid {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: 5rem auto 5rem;
    }

    header {
      grid-area: header;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 5rem;
      z-index: 5;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.171);
      background-color: white;
    }

    main {
      grid-area: main;
      background-color: var(--color-primary-300);
    }

    footer {
      grid-area: footer;
      box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.171);
      background-color: white;
    }
  </style>
</html>
