---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/themes/light.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <div id="layout-grid">
      <header></header>
      <main>
        <slot />
      </main>
      <footer></footer>
  </div>

	</body>
</html>

<style>
  @import url(../styles/variables.css);
  
  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    font-family: var(--sl-font-sans);
    margin: 0;
  }

  #layout-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:  "header"
                          "main"
                          "footer";
    grid-template-rows: 5rem auto 5rem;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
</style>