---
import Header from '../components/shared/Header.astro';
import Footer from '../components/shared/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/themes/light.css" />
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>tree-Commerce</title>
	</head>
	<body>
    <div id="layout-grid">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
	</body>
  <style is:global>
    @import url(../styles/global.css);

    #layout-grid {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-areas:  "header"
                            "main"
                            "footer";
      grid-template-rows: 5rem auto 5rem;
    }

    main {
      grid-area: main;
    }
  </style>
</html>
